/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  font-size: 16px;
  margin: 2em;
} 