<div>
    <h3 [ngClass]="{'app-alternative-font-color': changeFontColor}">{{home.title}}</h3>

    <div class="app-margin-top">
        <input type="text" class="form-control" [(ngModel)]="home.description"  [disabled]="disableInput"/>
    </div>

    <div class="app-margin-top">
        {{home.description}}
    </div>

    <div class="app-margin-top">
        <button class="btn btn-primary" (click)="onBtnEventBindingClick()">{{homeBtnText}}</button>
    </div>

    <div class="app-margin-top">
        <input type="text" class="form-control" [ngModel]="home.description" (ngModelChange)="onModelDescriptionChange($event)" [disabled]="disableInput"/>
    </div>

    <div class="app-margin-top">
        <button class="btn btn-primary" (click)="onChangeFontColorClick()">Change Title Font Color! (Property binding)</button>
    </div>

    <div class="app-margin-top">
        <button class="btn btn-primary" (click)="onDisableBothInputsClick()">Disable Both Inputs! (Property binding)</button>
    </div>
</div>